
@{
    ViewBag.Title = "Thank You";
}


<div class="wrapper">
    <div class="container">
        <div class="container" style="margin-top: 60px">
            <div class="row">
                <div class="col-lg-7">
                    <div class="panel panel-danger">
                        <div class="panel-body">
                            <h1>Thank you</h1>
               
                            <div class="alert alert-success" role="alert">Your enquiry has been submitted successfully. One of our wholesale managers will be in contact with you shortly. </div>
                            <p>
                                @Html.ActionLink("Back to List", "Index")
                            </p>

                        </div>
                        
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>

                
